* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #2a2a2a;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    color: #2a2a2a;
    background: #2a2a2a;
}

.page {
    padding: 10px;
    
    background: #CCCCCC;
}

header {
    padding: 10px;
    background: #FFFFFF;
}

main {
   padding: 10px;
   background: #EEEEEE;

}

.content {
    background: #FFFFFF;
    padding: 10px;
    margin: 10px;
}

.content-title {
    padding: 0 10px 0 0;
    font-size: 18px;
}

.footer {
    background: #FFFFFF;
    padding: 10px;
    margin: 10px;
}